/* 
# for id
. for class
blank for element
*/
html{
	/*
	background-image: url("https://s31.postimg.org/6g5pby1gb/image.jpg");
	background-image: url("https://s31.postimg.org/k9rkpnipn/blue_on_black.png");
	background-image: url("https://s31.postimg.org/z4ef9t67v/stars.jpg");*/
	/*background-image: url("https://s32.postimg.org/epc692m2d/wood.jpg");
	/*background-size: cover;*/
	
	background: url("https://s32.postimg.org/epc692m2d/wood.jpg") no-repeat center center fixed !important; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	/*background: gray; /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(black, gray); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(black, gray); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(black, gray); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(black, gray); /* Standard syntax */
   	position: relative;
    padding-bottom: 60px;
    height: 100%;
    min-height: 100%;
}

/* ------------------------ *
*  ---- HTML ELEMENTS ----- *
*  ------------------------ */

body {
	height: 100%;
    
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 40px;
	font-family: "Courier New";
	background-attachment: fixed;
	margin-bottom: 60px;

}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


h1 {

	color: #ffffff;
	letter-spacing: 2px;
	text-shadow: 2px 2px #000000;

}

h3 {

	color: #ffffff;
	text-shadow: 2px 2px #000000;
}

h4 {
	color: #ffffff;
	text-shadow: 2px 2px #000000;

}

a {

	font-style: bold;
	font-size: 150%;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 1px 1px #000000;

}

label {

	color: #fff;

}

textarea {

	width:200px;
	height:500px;

}

/* ------------------------ *
*  --- STYLE ELEMENTS ----- *
*  ------------------------ */

/* About Page */

#profile {

	height: 100px;
	width: auto;


}

.text-box
{
  background : -moz-linear-gradient(50% 100% 90deg,rgba(67, 232, 216, 1) 0%,rgba(84, 234, 220, 1) 4.05%,rgba(129, 240, 229, 1) 15.85%,rgba(168, 244, 237, 1) 28.13%,rgba(200, 248, 243, 1) 40.76%,rgba(224, 251, 249, 1) 53.84%,rgba(241, 253, 252, 1) 67.55%,rgba(252, 255, 254, 1) 82.31%,rgba(255, 255, 255, 1) 100%);
  background : -webkit-linear-gradient(90deg, rgba(67, 232, 216, 1) 0%, rgba(84, 234, 220, 1) 4.05%, rgba(129, 240, 229, 1) 15.85%, rgba(168, 244, 237, 1) 28.13%, rgba(200, 248, 243, 1) 40.76%, rgba(224, 251, 249, 1) 53.84%, rgba(241, 253, 252, 1) 67.55%, rgba(252, 255, 254, 1) 82.31%, rgba(255, 255, 255, 1) 100%);
  background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(67, 232, 216, 1) ),color-stop(0.0405,rgba(84, 234, 220, 1) ),color-stop(0.1585,rgba(129, 240, 229, 1) ),color-stop(0.2813,rgba(168, 244, 237, 1) ),color-stop(0.4076,rgba(200, 248, 243, 1) ),color-stop(0.5384,rgba(224, 251, 249, 1) ),color-stop(0.6755,rgba(241, 253, 252, 1) ),color-stop(0.8231,rgba(252, 255, 254, 1) ),color-stop(1,rgba(255, 255, 255, 1) ));
  background : -o-linear-gradient(90deg, rgba(67, 232, 216, 1) 0%, rgba(84, 234, 220, 1) 4.05%, rgba(129, 240, 229, 1) 15.85%, rgba(168, 244, 237, 1) 28.13%, rgba(200, 248, 243, 1) 40.76%, rgba(224, 251, 249, 1) 53.84%, rgba(241, 253, 252, 1) 67.55%, rgba(252, 255, 254, 1) 82.31%, rgba(255, 255, 255, 1) 100%);
  background : -ms-linear-gradient(90deg, rgba(67, 232, 216, 1) 0%, rgba(84, 234, 220, 1) 4.05%, rgba(129, 240, 229, 1) 15.85%, rgba(168, 244, 237, 1) 28.13%, rgba(200, 248, 243, 1) 40.76%, rgba(224, 251, 249, 1) 53.84%, rgba(241, 253, 252, 1) 67.55%, rgba(252, 255, 254, 1) 82.31%, rgba(255, 255, 255, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#43E8D8', endColorstr='#FFFFFF' ,GradientType=0)";
  background : linear-gradient(0deg, rgba(67, 232, 216, 1) 0%, rgba(84, 234, 220, 1) 4.05%, rgba(129, 240, 229, 1) 15.85%, rgba(168, 244, 237, 1) 28.13%, rgba(200, 248, 243, 1) 40.76%, rgba(224, 251, 249, 1) 53.84%, rgba(241, 253, 252, 1) 67.55%, rgba(252, 255, 254, 1) 82.31%, rgba(255, 255, 255, 1) 100%);
  border-radius : 12px;
  -moz-border-radius : 12px;
  -webkit-border-radius : 12px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#43E8D8' , GradientType=0);

  width: 95%;
  height: auto;
  padding: 15px;
  margin: auto;
  opacity: 0.9;

}

#title-text {

	color: #000000;
	text-shadow: 1px 1px #ffffff;
	font-size: 110%;

}

#scripted {


  background : -moz-linear-gradient(50% 0% -90deg,rgba(67, 232, 216, 1) 0%,rgba(84, 234, 220, 1) 4.05%,rgba(129, 240, 229, 1) 15.85%,rgba(168, 244, 237, 1) 28.13%,rgba(200, 248, 243, 1) 40.76%,rgba(224, 251, 249, 1) 53.84%,rgba(241, 253, 252, 1) 67.55%,rgba(252, 255, 254, 1) 82.31%,rgba(255, 255, 255, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(67, 232, 216, 1) 0%, rgba(84, 234, 220, 1) 4.05%, rgba(129, 240, 229, 1) 15.85%, rgba(168, 244, 237, 1) 28.13%, rgba(200, 248, 243, 1) 40.76%, rgba(224, 251, 249, 1) 53.84%, rgba(241, 253, 252, 1) 67.55%, rgba(252, 255, 254, 1) 82.31%, rgba(255, 255, 255, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(67, 232, 216, 1) ),color-stop(0.0405,rgba(84, 234, 220, 1) ),color-stop(0.1585,rgba(129, 240, 229, 1) ),color-stop(0.2813,rgba(168, 244, 237, 1) ),color-stop(0.4076,rgba(200, 248, 243, 1) ),color-stop(0.5384,rgba(224, 251, 249, 1) ),color-stop(0.6755,rgba(241, 253, 252, 1) ),color-stop(0.8231,rgba(252, 255, 254, 1) ),color-stop(1,rgba(255, 255, 255, 1) ));
  background : -o-linear-gradient(-90deg, rgba(67, 232, 216, 1) 0%, rgba(84, 234, 220, 1) 4.05%, rgba(129, 240, 229, 1) 15.85%, rgba(168, 244, 237, 1) 28.13%, rgba(200, 248, 243, 1) 40.76%, rgba(224, 251, 249, 1) 53.84%, rgba(241, 253, 252, 1) 67.55%, rgba(252, 255, 254, 1) 82.31%, rgba(255, 255, 255, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(67, 232, 216, 1) 0%, rgba(84, 234, 220, 1) 4.05%, rgba(129, 240, 229, 1) 15.85%, rgba(168, 244, 237, 1) 28.13%, rgba(200, 248, 243, 1) 40.76%, rgba(224, 251, 249, 1) 53.84%, rgba(241, 253, 252, 1) 67.55%, rgba(252, 255, 254, 1) 82.31%, rgba(255, 255, 255, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#43E8D8', endColorstr='#FFFFFF' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(67, 232, 216, 1) 0%, rgba(84, 234, 220, 1) 4.05%, rgba(129, 240, 229, 1) 15.85%, rgba(168, 244, 237, 1) 28.13%, rgba(200, 248, 243, 1) 40.76%, rgba(224, 251, 249, 1) 53.84%, rgba(241, 253, 252, 1) 67.55%, rgba(252, 255, 254, 1) 82.31%, rgba(255, 255, 255, 1) 100%);
  border-radius : 12px;
  -moz-border-radius : 12px;
  -webkit-border-radius : 12px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43E8D8',endColorstr='#FFFFFF' , GradientType=0);


	width: 65%;
	height: auto;
	color: #000000;
	background-color: #fff;
	opacity: 0.9;
	padding: 15px;
	margin-left: 20px;
	margin-top: 5%;
	font-size: 115%;

}


/* Rest */

#email {

	color: #43e8d8;

}

#form-box {

	width: 50%;
	height: 50%;

}

.sm-icon {

	height: auto;
	width: 8%;
/*
	width: auto;
	height: 8%;
	float: center; */
	opacity: 0.4;
	cursor: pointer;

}

.media-icons {

	display: block;
	margin: auto;
	width: 100%;
	padding-top: 4%;
	padding-left: 32%;

	
	
}

.title-box {
	width: auto;
	height: 35%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;

}

/* Initial menu */
.menu {
  left: -300px;  /* start off behind the scenes */
  height: 100%;
  position: absolute;
  width: 300px;
  opacity: 0.8;
}

.funbox {

	height: 5%;
	width: 95%;  
	/*background: #73AD21;*/
	border-radius: 15px 50px;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	padding-top: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;

}

#btn-box {

	display: block;
	margin: auto;
	width: 100%;
	padding-top: 4%;
	
}

.page-btn {

	height: 50px;
	width: 275px;
	margin: auto;
	position: relative;
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	box-shadow: 0 20px 22px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.button {
	width: 25%;
    background-color: #43e8d8; /* Teal */
    border: none;
    padding: 15px 32px;
    font-family: "Courier New";
    font-style: bold;
	font-size: 150%;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 2px 2px #000000;
    text-align: center;
    display: block;
    margin: auto;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button1 {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
    background-color: white;
    color: black;
}

.the-real
{
  background : -moz-linear-gradient(50% 0% -90deg,rgba(67, 232, 216, 1) 0%,rgba(65, 230, 214, 1) 38.73%,rgba(57, 223, 207, 1) 58.74%,rgba(44, 210, 195, 1) 74.46%,rgba(25, 192, 179, 1) 87.87%,rgba(0, 169, 157, 1) 99.83%,rgba(0, 169, 157, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(67, 232, 216, 1) 0%, rgba(65, 230, 214, 1) 38.73%, rgba(57, 223, 207, 1) 58.74%, rgba(44, 210, 195, 1) 74.46%, rgba(25, 192, 179, 1) 87.87%, rgba(0, 169, 157, 1) 99.83%, rgba(0, 169, 157, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(67, 232, 216, 1) ),color-stop(0.3873,rgba(65, 230, 214, 1) ),color-stop(0.5874,rgba(57, 223, 207, 1) ),color-stop(0.7446,rgba(44, 210, 195, 1) ),color-stop(0.8787,rgba(25, 192, 179, 1) ),color-stop(0.9983,rgba(0, 169, 157, 1) ),color-stop(1,rgba(0, 169, 157, 1) ));
  background : -o-linear-gradient(-90deg, rgba(67, 232, 216, 1) 0%, rgba(65, 230, 214, 1) 38.73%, rgba(57, 223, 207, 1) 58.74%, rgba(44, 210, 195, 1) 74.46%, rgba(25, 192, 179, 1) 87.87%, rgba(0, 169, 157, 1) 99.83%, rgba(0, 169, 157, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(67, 232, 216, 1) 0%, rgba(65, 230, 214, 1) 38.73%, rgba(57, 223, 207, 1) 58.74%, rgba(44, 210, 195, 1) 74.46%, rgba(25, 192, 179, 1) 87.87%, rgba(0, 169, 157, 1) 99.83%, rgba(0, 169, 157, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#43E8D8', endColorstr='#00A99D' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(67, 232, 216, 1) 0%, rgba(65, 230, 214, 1) 38.73%, rgba(57, 223, 207, 1) 58.74%, rgba(44, 210, 195, 1) 74.46%, rgba(25, 192, 179, 1) 87.87%, rgba(0, 169, 157, 1) 99.83%, rgba(0, 169, 157, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43E8D8',endColorstr='#00A99D' , GradientType=0);
}



.menu-icon {

	padding-top: 10px;
	padding-bottom: 0px;
	text-transform: uppercase;
	font-size: 150%;
	cursor: pointer;
	letter-spacing: 2px;
	position: relative;
	


}

.close-icon {

	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 85%;
	text-transform: uppercase;
	font-size: 250%;
	cursor: pointer;
	letter-spacing: 2px;
	position: relative;
	


}

.center {
    margin: auto;
    padding: 10px;

}



.spacer {

	width: 200%;


}
